/*Navbar*/ 
/* .Navbar {
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
   */

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
}

/*Hover animation*/
a.Title {
    position: relative;
    color: #403C3C;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
  
a.Title:hover {
    color: #403C3C;
    /* cursor: pointer; */
}
  
a.Title::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: -8px;
    left: 0;
    border-radius: 4px;
    background-color: #D62311;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
  
a.Title:hover::before {
    transform: scaleX(1);
}

/*Styling the Logo*/ 
.Logo {
    height: 100px;
    width: 170px;
    /* cursor: pointer; */
}

/*Styling the icons */
.Links {
    list-style: none;
    text-decoration: none;
}

.Links li {
    display: inline-block;
    padding: 0px 20px;
}

