* {
    box-sizing: border-box;
}

.Card-container {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: stretch; /*stretch to same height*/
    color: #403C3C;
    gap: 50px;
}

.Card {
    background-color: #F7F0E4; 
    border-radius: 20px;
    text-align: left;
    width: 30%; /*at smaller sizes: width: 30%,  at larger width: 20%*/
    height: auto;
    margin-bottom: 50px;
    padding: 40px 40px; /*inside padding*/
    
    /*don't know how necessary this is*/
    display: flex; 
    flex-direction: column;
    justify-content: left;
    align-items: left; 

    /*for the on hover animation*/
    transition: 0.3s ease-in-out;
}

.Card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px -10px rgba(0, 0, 0, 0.25);
}

.Card-number {
    font-size: 40px; 
    font-weight: 700; /*bold*/
}

.Card-title {
    font-size: 25px; 
    font-weight: 700;
}

.Card-text {
    font-size: 16px;
    font-weight: 600; /*semi-bold*/
}